backend/venv/
__pycache__/
.ipynb_checkpoints/
.env

*.pyc
*.pyo
*.pyd
*.csv
*.zip
*.parquet

.DS_Store

backend/data/raw/
backend/data/processed/*.pkl

backend/data/raw/

backend/data/processed/final_movies.csv
backend/data/processed/movies_clean.csv
backend/data/processed/*.pkl

# Trained models
backend/models/

# HuggingFace checkpoints
checkpoint-*/
*.safetensors
*.bin
*.pt